/* ========== LARGE SCREEN ENHANCEMENTS ========== */

@media screen and (min-width: 768px) {
  .spotlight-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .spotlight-container > * {
    flex: 1 1 30%;
  }

  #navMenu {
    display: flex !important;
  }

  #menuBtn {
    display: none !important;
  }

  .hero {
    margin-bottom: 3rem;
  }
}
