@media screen and (min-width: 700px) {
  #directory.grid-view {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  #directory.grid-view {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Zebra striping for list view */
#directory.list-view .member:nth-child(even) {
  background-color: #eef9f8;
}

#directory.list-view .member:nth-child(odd) {
  background-color: #ffffff;
}

/* Disable zebra striping on smaller screens */
@media (max-width: 768px) {
  #directory.list-view .member {
    background-color: #ffffff !important;
  }
}
